.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #A1A3A5;
  font-family: Proxima Nova, sans-serif;
  font-size: 15px;
}

.value {
  color: #fff;
  font-family: Proxima Nova, sans-serif;
  font-size: 15px;
}